Recordatorio: estraer los archivos del .zip y almacenarlos todos en una crapeta con nombre "monks problems" para ejecutar el codigo sin necesidad de cambiar rutas de archivos por defecto

# Problema de Monjes número 1

In [1]:
import pandas as pd

## importamos los dataset

In [2]:
train_set = pd.read_excel("src/monks problems/monks-1-train.ods")
test_set = pd.read_excel("src/monks problems/monks-1-test.ods")

print(train_set)
print(test_set)

     Class  a1  a2  a3  a4  a5  a6        Id
0        1   1   1   1   1   3   1    data_5
1        1   1   1   1   1   3   2    data_6
2        1   1   1   1   3   2   1   data_19
3        1   1   1   1   3   3   2   data_22
4        1   1   1   2   1   2   1   data_27
..     ...  ..  ..  ..  ..  ..  ..       ...
119      1   3   3   2   1   4   2  data_416
120      1   3   3   2   3   1   2  data_426
121      1   3   3   2   3   2   2  data_428
122      1   3   3   2   3   3   2  data_430
123      1   3   3   2   3   4   2  data_432

[124 rows x 8 columns]
     Class  a1  a2  a3  a4  a5  a6        Id
0        1   1   1   1   1   1   1    data_1
1        1   1   1   1   1   1   2    data_2
2        1   1   1   1   1   2   1    data_3
3        1   1   1   1   1   2   2    data_4
4        1   1   1   1   1   3   1    data_5
..     ...  ..  ..  ..  ..  ..  ..       ...
427      1   3   3   2   3   2   2  data_428
428      1   3   3   2   3   3   1  data_429
429      1   3   3   2   3   3   2  data_430
430      1   3   3   2   3   4   1  data_431
431      1   3   3   2   3   4   2  data_432

[432 rows x 8 columns]

## Binarizar las caracteristicas a1-a6

Recordemos que se trata de datos categoricos, por lo que, independientemente de que estén etiquetados con valores numeros, hayq ue darles el tratamiento de datos categoricos

In [6]:
from Binarizacion import binarizar_categoricos

binarizados_dataframe:list[pd.DataFrame] = []

for i in range(1,7):
    binarizados_dataframe.append(binarizar_categoricos(train_set[f"a{i}"].values.tolist(), i))

# for binarizado in binarizados_dataframe:
#     print(binarizado)

#trampita, primero vamos a meter en forma de dataframe las clases a las que pertenece cada registro
binarizados_dataframe.append(train_set["Class"])

dataframe_binario = pd.concat(binarizados_dataframe, axis=1)

print(dataframe_binario)

     x1,1  x1,2  x1,3  valor_real 1  x2,1  x2,2  x2,3  valor_real 2  x3,1  \
0       1     0     0             1     1     0     0             1     1
1       1     0     0             1     1     0     0             1     1
2       1     0     0             1     1     0     0             1     1
3       1     0     0             1     1     0     0             1     1
4       1     0     0             1     1     0     0             1     0
..    ...   ...   ...           ...   ...   ...   ...           ...   ...
119     0     0     1             3     0     0     1             3     0
120     0     0     1             3     0     0     1             3     0
121     0     0     1             3     0     0     1             3     0
122     0     0     1             3     0     0     1             3     0
123     0     0     1             3     0     0     1             3     0

     x3,2  ...  x4,3  valor_real 4  x5,1  x5,2  x5,3  valor_real 5  x6,1  \
0       0  ...     0             1     1     0     0             3     1
1       0  ...     0             1     1     0     0             3     0
2       0  ...     0             3     0     0     1             2     1
3       0  ...     0             3     1     0     0             3     0
4       1  ...     0             1     0     0     1             2     1
..    ...  ...   ...           ...   ...   ...   ...           ...   ...
119     1  ...     0             1     0     1     0             4     0
120     1  ...     0             3     0     0     1             1     0
121     1  ...     0             3     0     0     1             2     0
122     1  ...     0             3     1     0     0             3     0
123     1  ...     0             3     0     1     0             4     0

     x6,2  valor_real 6  Class
0       0             1      1
1       1             2      1
2       0             1      1
3       1             2      1
4       0             1      1
..    ...           ...    ...
119     1             2      1
120     1             2      1
121     1             2      1
122     1             2      1
123     1             2      1

[124 rows x 23 columns]

## Una vez binarizado el dataset, separemos los registros por clase

In [10]:
dataset_binario_clase_0 = dataframe_binario[dataframe_binario["Class"] == 0]
dataset_binario_clase_1 = dataframe_binario[dataframe_binario["Class"] == 1]

print(dataset_binario_clase_0)
print(dataset_binario_clase_1)

     x1,1  x1,2  x1,3  valor_real 1  x2,1  x2,2  x2,3  valor_real 2  x3,1  \
10      1     0     0             1     0     1     0             2     1
11      1     0     0             1     0     1     0             2     1
12      1     0     0             1     0     1     0             2     1
14      1     0     0             1     0     1     0             2     1
15      1     0     0             1     0     1     0             2     1
..    ...   ...   ...           ...   ...   ...   ...           ...   ...
98      0     0     1             3     0     1     0             2     1
100     0     0     1             3     0     1     0             2     1
103     0     0     1             3     0     1     0             2     0
105     0     0     1             3     0     1     0             2     0
106     0     0     1             3     0     1     0             2     0

     x3,2  ...  x4,3  valor_real 4  x5,1  x5,2  x5,3  valor_real 5  x6,1  \
10      0  ...     0             1     0     0     1             2     1
11      0  ...     0             1     1     0     0             3     1
12      0  ...     0             1     0     1     0             4     0
14      0  ...     1             2     1     0     0             3     1
15      0  ...     1             2     1     0     0             3     0
..    ...  ...   ...           ...   ...   ...   ...           ...   ...
98      0  ...     0             1     0     1     0             4     0
100     0  ...     1             2     0     1     0             4     0
103     1  ...     0             1     1     0     0             3     0
105     1  ...     0             3     0     0     1             2     1
106     1  ...     0             3     0     1     0             4     1

     x6,2  valor_real 6  Class
10      0             1      0
11      0             1      0
12      1             2      0
14      0             1      0
15      1             2      0
..    ...           ...    ...
98      1             2      0
100     1             2      0
103     1             2      0
105     0             1      0
106     0             1      0

[62 rows x 23 columns]
     x1,1  x1,2  x1,3  valor_real 1  x2,1  x2,2  x2,3  valor_real 2  x3,1  \
0       1     0     0             1     1     0     0             1     1
1       1     0     0             1     1     0     0             1     1
2       1     0     0             1     1     0     0             1     1
3       1     0     0             1     1     0     0             1     1
4       1     0     0             1     1     0     0             1     0
..    ...   ...   ...           ...   ...   ...   ...           ...   ...
119     0     0     1             3     0     0     1             3     0
120     0     0     1             3     0     0     1             3     0
121     0     0     1             3     0     0     1             3     0
122     0     0     1             3     0     0     1             3     0
123     0     0     1             3     0     0     1             3     0

     x3,2  ...  x4,3  valor_real 4  x5,1  x5,2  x5,3  valor_real 5  x6,1  \
0       0  ...     0             1     1     0     0             3     1
1       0  ...     0             1     1     0     0             3     0
2       0  ...     0             3     0     0     1             2     1
3       0  ...     0             3     1     0     0             3     0
4       1  ...     0             1     0     0     1             2     1
..    ...  ...   ...           ...   ...   ...   ...           ...   ...
119     1  ...     0             1     0     1     0             4     0
120     1  ...     0             3     0     0     1             1     0
121     1  ...     0             3     0     0     1             2     0
122     1  ...     0             3     1     0     0             3     0
123     1  ...     0             3     0     1     0             4     0

     x6,2  valor_real 6  Class
0       0             1      1
1       1             2      1
2       0             1      1
3       1             2      1
4       0             1      1
..    ...           ...    ...
119     1             2      1
120     1             2      1
121     1             2      1
122     1             2      1
123     1             2      1

[62 rows x 23 columns]